<!DOCTYPE html>
<html th:replace="~{layouts/masterLayout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Customers Table</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mb-3">

                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Code</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="cus : ${customers}">
                                <td th:text="${cus.id}"></td>
                                <td th:text="${cus.code}"></td>
                                <td th:text="${cus.firstName}"></td>
                                <td th:text="${cus.lastName}"></td>

                                <td th:text="${cus.address}"></td>
                                <td><a th:href="@{'/customer/delete?id='+${cus.id}}" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:href="@{/customer/customer-form}" class="btn btn-primary">NewCustomer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>